<div class="mt-5">
    <h1 class="display-3 fw-bold text-center text-shadow text-white my-5">Tutti gli articoli</h1>
</div>

<div class="container-card center">
    <div class="row justify-content-around align-items-center">
    <% @articles.each do |article| %>
    <div class="col-12 col-md-6 col-lg-4">    
        <div class="card my-3">
            <h2><%= article.title %></h2>
            <hr/>
            <p><%= article.description %>
            </p>
            <div class="d-flex justify-content-center align-items-center btn-container">
                  <%= link_to 'Show', article_path(article), :class => "button"%>
                  <%= link_to 'Edit', edit_article_path(article), :class => "button"%>
                  <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, :class => "button"%>            
            </div>

        </div>
    </div>
    <% end %>

    </div>
</div>


<p class="text-center">
    <%= link_to 'Inserisci un articolo', new_article_path(), :class => "text-white" %>
</p>