<div class="container">
    <div class="row">
        <div class="col-12"> 
        <h1 class="text-center text-shadow text-white fw-bold my-5 pt-5">Dettaglio articolo</h1>

            <div class="card detail my-3">
                <h2 class="detail-title"><%= @article.title %></h2>
                <hr/>
                <p class="detail-subtitle"><%= @article.description %>
                </p>
                <div class="d-flex justify-content-center align-items-center btn-container">
                    <%= link_to 'Edit', edit_article_path(@article), :class => "button"%>
                    <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, :class => "button"%>            
                    <%= link_to 'Articles', articles_path, :class => "button"%>
                </div>
            </div>
        </div>
    </div>
</div>

